* {box-sizing: border-box;}
html { height: 100vh;}
body {
    font-family: 'Courier New', Courier, monospace ;
    /*esta es la letra que parece de maquina de escribir*/
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
img { 
    transition: all 1s ease;
    opacity:0
}
#header {
    /* display: flex; */
    background: linear-gradient(90deg,rgba(0, 43, 255, 1) 0%, rgba(144, 0, 255, 1) 15%, rgba(255, 0, 208, 1) 35%, rgba(255, 30, 0, 1) 50%, rgba(255, 115, 0, 1) 62%, rgba(255, 255, 0, 1) 78%, rgba(34, 255, 0, 1) 87%, rgba(0, 255, 238, 1) 98%);;
    padding: 2rem;
    font-size: large;
    z-index: 10;
    position: relative;/*en todas las paginas con poco contenido, en las que tienen mucho
    position fixed para que quede siempre visible*/
    width: 100%;
    top:0;
    /*z-index: 20;posicion en el eje z (3D)*/
}
#header ul {
    display: flex;
    text-align: left;
    gap: 1.1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: end;
    align-items: end;
}

#header a {
    color: white;
    text-shadow: 1px 1px 2px black ;
    text-decoration: none;
    transition: all cubic-bezier(1,0,0,1) .3s;
    /*transition:text-decoration ease 2s;*/
    /*ver como se hace para que el wavy salga poco a poco*/
}

li:hover {
    transform: scale(1.2);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
    text-decoration-thickness: 0.5px; 
}

#footer {
    background: linear-gradient(90deg, rgba(0, 43, 255, 0.35) 0%, rgba(144, 0, 255, 0.29) 15%, rgba(255, 0, 208, 0.29) 35%, rgba(255, 30, 0, 0.29) 50%, rgba(255, 115, 0, 0.28) 62%, rgba(255, 255, 0, 0.29) 78%, rgba(34, 255, 0, 0.29) 87%, rgba(0, 255, 238, 0.29) 98%);
    color:black;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: large;
    position:static;
}
#footer2 .footer2{
    background: linear-gradient(90deg, rgba(0, 43, 255, 0.35) 0%, rgba(144, 0, 255, 0.29) 15%, rgba(255, 0, 208, 0.29) 35%, rgba(255, 30, 0, 0.29) 50%, rgba(255, 115, 0, 0.28) 62%, rgba(255, 255, 0, 0.29) 78%, rgba(34, 255, 0, 0.29) 87%, rgba(0, 255, 238, 0.29) 98%);
    color:black;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: large;
    position:static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#footer2 ul {
    display: inline-flex;
    text-align: center;
    gap: 1.1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#footer p{
    text-align: center;
    justify-content: center;
    margin-top:0;
}
#footer2 a{
    color: black;
    text-decoration: none;
}
#footer2 img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
#footer .pequena{ width: 60px; height: 60px;}
/*estilo home.html*/
main {
    text-align: center;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cajaCentral {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
#colores {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (2, 1fr); 
    width: 400px;
    height: 400px;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /*hay que definir la grid area para que se pueda desplegar como un cuadrado,
    sino va a mostrarse cada imagen como un todo de 400px, si hizo directamente en linea*/
    gap: 0;
    position:relative;
}
#colores img {
    height: 200px;
    width: 200px;
    position: absolute;
    transition: transform 1s ease;
}
.img1 {
    top:0;
    left:0;
}
.img1:hover {
    transform: translate(-50px, -50px) scale(1.2);
    filter: drop-shadow(1px 1px 5px yellow);
}
.img2 {
    rotate: -90deg;
    top: 32px;
    left: 160px;
}
.img2:hover {
    transform: translate(50px,50px) scale(1.2);
    filter: drop-shadow(1px 1px 5px yellow);
}
.img3 {
    rotate: 90deg;
    top:160px;
    left:32px;
}
.img3:hover {
    transform: translate(50px, 50px) scale(1.2);
    filter: drop-shadow(1px 1px 5px yellow);
}
.img4 {
    rotate: 180deg;
    top:192px;
    left: 190px;
}
.img4:hover {
    transform: translate(-50px, -50px) scale(1.2);
    filter: drop-shadow(1px 1px 5px yellow);
}

/*estilo colores.html*/
.parallax-section {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 6px black;
}
.contenido {
    padding: 80px;
    height: 400px;
    width: auto;
    text-align: center;
    background-color: #f4f4f4;
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(65, 63, 63);
    opacity: 1;    
}
.contenido p{
    transition: all 2s ease;/*no te olvides de poner las transiciones*/
    opacity: 0;
}
.contenido p.mostrar{
    opacity:1;
}
.bgY { background-image: url('imagenes/amarillo.jpg')}
.bgB { background-image: url('imagenes/azul.jpg')}
.bgR { background-image: url('imagenes/rojo.jpg')}
.bgG { background-image: url('imagenes/verde.jpg')}

@media (max-width:500px){
    .contenido{
        font-size: 1.2rem;
    }
    .bgy{
        object-fit: cover;
    }
}
/*estilos acerca.html*/
.mini {
    position: fixed;
    top: -100px;
    right: -100px;
    scale: 0.5;
    z-index: 1000;
}
#sol {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 400px;
    /* transition: filter 1seg ease; */
}

#sol.animar-entrada {
  animation: girar 1s ease forwards;
  filter: drop-shadow(1px 1px 20px yellow);
}

#sol.animar-salida {
  animation: girar-reversa 1s ease forwards;
}

@keyframes girar {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.5) rotate(360deg);
  }
}

@keyframes girar-reversa {
  from {
    transform: scale(1.5) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

#caja-Sol {
    display: flex;
    min-height: 100vh;
    transition: all 3s ease;
}
.drip{ 
    width: 65%;
    align-self: center;
}
.cajaCentral1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    min-height: 100vh;
}
section { 
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenido1 {
    justify-self: center;
    justify-content: center;
    margin: auto;
    opacity:0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
    filter: drop-shadow(0 0 1rem yellow)
}
.contenido1.mostrar {
    opacity:1;
    transform: translateY(0);
}
.espacio { min-height: 100vh;}
/*estilo contact.html*/
.formulario {
    display: block;
    justify-content: center;
    margin: auto;
    /* margin-bottom: 50px; */
}
.error {
    color: red;
    text-align: center;
}
.tituloColor {
    transition: transform 0.7s ease;
    max-width: 80%;
    margin: auto;
}
.tituloColor:hover {
    transform: scale(1.2);
    background: linear-gradient(90deg,rgba(0, 43, 255, 1), rgba(144, 0, 255, 1), rgba(255, 0, 208, 1), rgba(255, 30, 0, 1), rgba(255, 115, 0, 1), rgba(255, 255, 0, 1), rgba(34, 255, 0, 1), rgba(0, 255, 238, 1),rgba(0, 43, 255, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%; 
    animation: rainbow-animation 5s infinite linear;
}
input, textarea {
    display: block;
    justify-self: center;
}
button {
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(0, 43, 255, 0.35), rgba(144, 0, 255, 0.29), rgba(255, 0, 208, 0.29), rgba(255, 30, 0, 0.29), rgba(255, 115, 0, 0.28), rgba(255, 255, 0, 0.29), rgba(34, 255, 0, 0.29), rgba(0, 255, 238, 0.29), rgba(0, 43, 255, 0.35) );
    border: 1px solid rgb(88, 87, 87);
}
button:hover {
    transform: scale(1.5);
    background-size: 200% 100%; /* Ajusta el tamaño para que el gradiente se mueva */
    animation: rainbow-animation 2s infinite linear;
}

@keyframes rainbow-animation {
0% {
    background-position: 0 0;
}
100% {
    background-position: -200% 0;
}
}
/*estilo galeria.html*/
#galeria {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, 300px);
    grid-auto-flow: dense;
    justify-content: center;
    margin: 40px auto;
    max-width: 80%;
}
#galeria img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#galeria img:hover {
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
@media (max-width: 500px){
    #galeria {
        display: flex;
        flex-direction: column;
    }
    #galeria img{ 
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}